* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

div {
    margin-bottom: 40px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 1%;
}

.logo {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: auto 20px;
    padding: 10px;
    border-style: none;
    background-color: inherit;
}

button:hover {
    box-shadow: 0px 1px 5px 1px grey;
    border-radius: 5px;
}

.signin {
    background-color: #1a73e8;
    color:aliceblue;
    padding: 1%;
    min-width: 100px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
}

.search {
    display: flex;
    justify-content: center;
    
}

input {
    font-size: 15px;
    min-width: 500px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

input:hover {
    box-shadow: 0px 1px 5px 1px grey;
}

textarea:focus, input:focus {
    outline: none;
}

.lang {
    display: flex;
    justify-content: center;
}

p > a {
    text-decoration: none;
}