:root {
    --fontcolor: rgb(37, 37, 37);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin-bottom: 40px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    font-size: 13px;
    list-style: none;
    padding: 1%;
}

.dots {
    width: 15px;
    height: 15px;
}

.logo {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

button {
    margin: auto 15px;
    padding: 8px 15px;
    border-style: none;
    background-color: inherit;
}

button:hover {
    box-shadow: 0px 1px 5px 1px grey;
    border-radius: 3px;
}

button:focus, button:active {
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(79, 141, 255);
}

.signin {
    background-color: #1a73e8;
    color:aliceblue;
    padding: 9px;
    min-width: 100px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

.signin:hover {
    background-color: #428ff3;
    box-shadow: none;
    border-radius: 5px;
}

.search {
    display: flex;
    justify-content: center;
    
}

input {
    font-size: 15px;
    min-width: 500px;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.479);
    background: url(search-solid.svg) no-repeat scroll left/50px 15px;
    padding-left: 50px;
}

input:hover {
    box-shadow: 0px 1px 9px -3px grey;
}

textarea:focus, input:focus {
    outline: none;
}

.lang {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

p a {
    text-decoration: none;

}

li a {
    text-decoration: none;
    color: var(--fontcolor);
}

.buttons button {
    color: var(--fontcolor);
}

div p {
    color: var(--fontcolor);
}